<div class="container">
  <h1>Faculty Schedule</h1>

  <label class="assign-schedule" for="facultyName">Faculty Name:</label>
  <select id="facultyName" [(ngModel)]="facultyName">
    <option *ngFor="let faculty of facultyNames" [value]="faculty">{{ faculty }}</option>
  </select>
  <button (click)="getSchedule()">Get Schedule</button>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of scheduleData">
        <td>{{ schedule.time }}</td>
        <td>{{ schedule.monday }}</td>
        <td>{{ schedule.tuesday }}</td>
        <td>{{ schedule.wednesday }}</td>
        <td>{{ schedule.thursday }}</td>
        <td>{{ schedule.friday }}</td>
        <td>{{ schedule.saturday }}</td>
        <td>{{ schedule.sunday }}</td>
      </tr>
    </tbody>
  </table>
</div>
