.container {
  max-width: 100%;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.assign-schedule {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#facultyName {
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
margin-bottom: 30px;
}

table {
  min-width: 620px;
  max-width: 1200px;
  height: calc(100vh - 80px);
  border-collapse: collapse;
  margin-top: 50px;
}

thead {
  background-color: orange;
  color: #fff;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  #facultyName {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }

  th, td {
    padding: 0.25rem;
    font-size: 0.9rem;
  }
}

/* App header */
.app-header {
  background-color: orange;
  color: #fff;
  height: 60px;
  min-width: 660px;
  max-width: 100%;
  padding: 0 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center; /* add this line to center horizontally */
}

.header-left img {
  height: 40px;
  margin-right: 10px;
  margin-top: 20px;
  align-items: center;
}

.header-center {
  display: flex;
  align-items: center;
}

.app-name {
  font-size: 20px;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 0;
}

.header-button:hover {
  color: #ff5100;
}

/* Media queries */
@media screen and (min-width: 768px) {
  /* Key list */
  table {
    width: 100%;
    margin: 0 auto;
  }

  /* App header */
  .app-header {
    height: 80px;
  }

  .app-name {
    font-size: 28px;
  }
}
