<app-sidebar (onToggleSideBar)="onToggleSideBar()"></app-sidebar>
<h2>Key Inventory</h2>


<!-- Add Key form -->
<div class="container">
<form (ngSubmit)="onAddKey()">
  <label for="keyName">Key Name:</label>
  <input type="text" [(ngModel)]="newKeyName" name="keyName" required>

  <label for="roomName">Room Name:</label>
  <input type="text" [(ngModel)]="newRoomName" name="roomName" required>

  <button type="submit">Add Key</button>
  <div class="key-count-container">

Total number of keys <img src="assets/key (1).png" style="width: 15px; height: 15px;">: {{ keys.length }}
    <div class ="av">Available<img src="assets/key (1).png" style="width: 15px; height: 15px;">: {{ availableKeysCount }}</div>
    <div class ="ba">Borrowed<img src="assets/key (1).png" style="width: 15px; height: 15px;">: {{ borrowedKeysCount }}</div>
  </div>

</form>

<hr>

<!-- Key list -->
<table>
  <thead>
    <tr>
      <th>Key Name</th>
      <th>Room Name</th>
      <th>Status</th>
      <th>Borrowed By</th>
      <th>Borrowed At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of keys">
      <td>{{ key.name }}</td>
      <td>{{ key.room }}</td>
      <td [ngClass]="{ 'borrowed': key.borrowed }">{{ key.borrowed ? 'Borrowed' : 'Available' }}</td>
      <td>{{ key.borrowedBy }}</td>
      <td>{{ key.borrowedAt }}</td>
      <td>
        <button *ngIf="!key.borrowed" class="on-button"(click)="onBorrow(key)">Borrow</button>
        <button *ngIf="key.borrowed" class="oni-button"(click)="onReturn(key)">Return</button>
        <br><br>
        <button (click)="onDelete(key)" class="delete-button">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Borrowed Key details modal -->
<div class="modal" [class.active]="borrowedKey">
  <div class="modal-content">
    <h3>{{ borrowedKey?.name }} - Borrowed By {{ borrowedKey?.borrowedBy }}</h3>
    <p>Borrowed At: {{ borrowedKey?.borrowedAt }}</p>
    <button (click)="closeBorrowedDetails()">Close</button>
  </div>
</div>
</div>
