<app-sidebar (onToggleSideBar)="onToggleSideBar()"></app-sidebar>
<h2>Key Inventory</h2>

<!-- Add Key form -->
<div class="container">
<form (ngSubmit)="onAddKey()">
  <label for="keyName">Key Name:</label>
  <input type="text" [(ngModel)]="newKeyName" name="keyName" required>

  <label for="roomName">Room Name:</label>
  <input type="text" [(ngModel)]="newRoomName" name="roomName" required>

  <button type="submit">Add Key</button>
</form>

<hr>

<!-- Key list -->
<table>
  <thead>
    <tr>
      <th>Key Name</th>
      <th>Room Name</th>
      <th>Status</th>
      <th>Borrowed By</th>
      <th>Borrowed At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of keys">
      <td>{{ key.keyName }}</td>
      <td>{{ key.roomName }}</td>
      <td [ngClass]="{ 'borrowed': key.borrowed }">{{ key.borrowed ? 'Borrowed' : 'Available' }}</td>
      <td>{{ key.borrowedBy }}</td>
      <td>{{ key.borrowedAt }}</td>
      <td>
        <button (click)="onDelete(key)" class="delete-button">Delete</button>

      </td>
    </tr>
  </tbody>
</table>

<!-- Borrowed Key details modal -->
<div class="modal" [class.active]="borrowedKey">
  <div class="modal-content">
    <h3>{{ borrowedKey?.keyName }} - Borrowed By {{ borrowedKey?.borrowedBy }}</h3>
    <p>Borrowed At: {{ borrowedKey?.borrowedAt }}</p>
    <button (click)="closeBorrowedDetails()">Close</button>
  </div>
</div>
</div>
