<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>College of Information and Communications Technology.</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./accountcreate.component.css">
  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <style>
          .box-form .left {
            color: #FFFFFF;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("assets/cmkis.jpg");
            overflow: hidden;
          }</style>
        <div class="overlay">
          <h1>College of Information and Communications Technology.</h1>
          <p>Class Monitoring and Key Inventory System</p>
          <span>
            <div class="btn-group">
              <button>Already have an account? Log In here</button>
            </div>
          </span>
        </div>
      </div>
        <div class="right">
          <h5>Create an Account</h5>
          <div class="inputs">
            <input type="text" id="name" placeholder="Fullname" required>
            <br>
            <input type="email" id="email" placeholder="Email Adress " required>
            <br><br>
            <label for="type">Type:</label>
            <select name="type" id="type" class="my-select">
              <option value="attendancechecker">Attendance Checker</option>
              <option value="faculty">Faculty</option>
            </select>
            <input type="password" id="password" placeholder="password" required>
              <br>
              <input type="password" id="conpassword" placeholder="confirm password" required>
              <br>
          </div>
          <br><br>
          <div class="remember-me--forget-password">
            <!-- Angular -->
            <label></label>
          </div>
          <br><div class="butt">
          <button>Register</button></div>
        </div>
      </div>
  </body>
</html>

