<!DOCTYPE html>
<html lang="en">

<head>
	<title>Faculty and Schedule Management</title>
	<link rel="stylesheet" href="faculty.component.css">
</head>

<body>
  <app-sidebar (onToggleSideBar)="onToggleSideBar()"></app-sidebar>
  <div class="CICT-Head2">
    <h3>Users and Schedule Management</h3>
  </div>
	<div class="cont">
    <div class="nav">
      <a href="faculty" class="active">Users</a>
      <a href="schedule">Schedule</a>
      <a href="attendance">Attendance</a>

      <div>
        <button (click)="toggleForm()">
          <img src="assets/add-group.png">
          Add New User
        </button>

        <div *ngIf="showForm">
          <form (ngSubmit)="onSubmit(accountCreateForm)" #accountCreateForm="ngForm">
            <div class="inputs">
              <input type="text" id="name" placeholder="Fullname" required [(ngModel)]="name" name="name">
              <br>
              <input type="email" id="email" placeholder="Email Adress " required [(ngModel)]="email" name="email">
              <br>
              <input type="text" id="idNumber" placeholder="ID Number" required [(ngModel)]="idNumber" name="idNumber"><br>
              <label for="type">Type:</label>
              <select name="type" id="type" class="my-select" [(ngModel)]="type">
                <option value="attendancechecker">Attendance Checker</option>
                <option value="faculty">Faculty</option>
              </select>
              <input type="password" id="password" placeholder="password" required [(ngModel)]="password" name="password">
              <br>
              <input type="password" id="conpassword" placeholder="confirm password" required [(ngModel)]="confirmPassword" name="confirmPassword">
              <br>
            </div>
            <br><br>
            <br>
            <div class="butt">
              <button type="submit" [disabled]="!accountCreateForm.form.valid">Register</button>
            </div>
          </form>
        </div>
      </div>


      <div class="card">
        <div class="card-body">

          <table class="centered bigger-table">
            <thead>
              <tr>
                <th>ID Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id_number }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.type }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        </div>
      </div>

