<!DOCTYPE html>
<html lang="en">

<head>
	<title>Faculty and Schedule Management</title>
	<link rel="stylesheet" href="faculty.component.css">
</head>

<body>
  <app-sidebar (onToggleSideBar)="onToggleSideBar()"></app-sidebar>
  <div class="CICT-Head2">
    <h3>Faculty and Schedule Management</h3>
  </div>
	<div class="cont">
		<div class="nav">
			<a href="faculty" class="active">Faculty</a>
			<a href="schedule">Schedule</a>
      <a href="attendance">Attendance</a>
      <div class="form">
        <input type="text" placeholder="Search..." >
        <button (click)="addFaculty()">Add New Faculty
          <img src="assets/add-group.png" alt="Add Faculty">
        </button>
      </div>
			
		</div>
    
		<section class ="box"id="faculty">
      <div class="Sect">
        <button class="Section-Sort">Sort by LastName
          <div class="Sort-List">
            <a href="#">Sort by FirstName</a>
            <a href="#">Sort by Email</a>
            <a href="#">Sort by ID No.</a>
          </div>
        </button>
      </div>


      
      

      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>ID Number</th>
            <th>Name</th>
            <th>Email</th>
            <th>Attendance Status</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let faculty of facultyList; let i=index">
            <tr *ngIf="editingFaculty === faculty; else showFacultyData">
              <td>{{i + 1}}</td>
              <td><input type="text" [(ngModel)]="id" maxlength="6"></td>
              <td><input type="text" [(ngModel)]="name" maxlength="30"></td>
              <td><input type="text" [(ngModel)]="email" maxlength="30"></td>
              <td class="action-buttons">
                <button class="save" (click)="saveFaculty()">Save</button>
                <button class="cancel" (click)="cancelEdit()">Cancel</button>
              </td>
            </tr>
            <ng-template #showFacultyData>
              <tr>
                <td>{{i + 1}}</td>
                <td>{{faculty.id}}</td>
                <td>{{faculty.name}}</td>
                <td>{{faculty.email}}</td>
                <td class="action-buttons">
                  <button class="edit" (click)="editFaculty(faculty)">Edit</button>
                  <button class="delete" (click)="deleteFaculty(faculty)">Delete</button>
                </td>
              </tr>
            </ng-template>
          </ng-container>
        </tbody>
      </table>
    </section>

	</div>
</body>
</html>

