.sidebar{
  background: #ffffff;
  transition: all .3s ease;
  position: sticky;
  float:left;
  z-index: 1;
  margin-right: 10px;
  top: 10.4%;
  width: 5rem;
  height: 100vh;
  box-shadow: 3px 0 5px 0 #869083;
}

.logo-cict{
  align-items: center;
  margin: 0 21px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  border: none;

}

.logo-container {
  display: flex;
  align-items: center;
  border-radius: 0;
  width: 100%;
  border: none;
}
.logo-text{
  margin-left: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  border: none;
  margin-left: 90px;
}
.btn-close{
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.logo-container .logo{

  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-left: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: transparent;
  border: none;

}


.sidebar-collapsed{
  width: 16.5625rem;
}

.sidebar-nav{
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.sidebar-nav-item{
  width: 100%;
  margin-bottom: 0.625rem;
}

.sidebar-nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}

.sidebar-link-icon{

  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  left: 0;
  position: absolute;

}

.sidebar-link-text{
  margin-left: 3rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

}

.sidebar-link-text:hover{
  color: #ffffff;
}

.sidebar-nav-link:hover{
  background-color: orange;
}

.CICT-Head {
  position: relative;
  height: 80px;
  background-color: #f7ab30;
}

.CICT-Image{
  position: absolute;
  top: 50%;
  left: 15px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
}


.CICT-Head h1 {
  position: absolute;
  top: 30%;
  left: 80px;
  transform: translateY(-50%);
  margin: 0;
  font-size: 40px;
  color: #ffffff;
  font-family: monsterrat;
}
.CICT-Head p {
  position: absolute;
  top: 70%;
  left: 85px;
  transform: translateY(-50%);
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


.CICT-Bell{
  position: absolute;
  top: 50%;
  right: 90px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);

}

.CICT-Account{
  position: absolute;
  top: 50%;
  right: 40px;
  width: 35px;
  height: 35px;
  transform: translateY(-50%);

}
.CICT-Arrow{
  position: absolute;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);

}
