<div class="key-inventory-container">
  <!-- Key Inventory code here -->

  <header class="app-header">
    <div class="header-container">
      <div class="header-left">
        <a routerLink="/facultyhome">
          <button class="header-button">
            <img src="assets/home.png" alt="Home">
          </button>
        </a>
      </div>
      <div class="header-center">
        <h1 class="app-name">Key Inventory</h1>
      </div>
    </div>
  </header>



<!-- Add Key form -->
<div class="container">
  <div class="key-count-container">
    <div class ="av">Available<img src="assets/key (1).png" style="width: 15px; height: 15px;">: {{ availableKeysCount }}</div>
    <div class ="ba">Borrowed<img src="assets/key (1).png" style="width: 15px; height: 15px;">: {{ borrowedKeysCount }}</div>
  </div>
<hr>

<!-- Key list -->
<table>
  <thead>
    <tr>
      <th>Key Name</th>
      <th>Room Name</th>
      <th>Status</th>
      <th>Borrowed By</th>
      <th>Borrowed At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of keys">
      <td>{{ key?.name }}</td>
      <td>{{ key?.room }}</td>
      <td [ngClass]="{ 'borrowed': key?.borrowed }">{{ key?.borrowed ? 'Borrowed' : 'Available' }}</td>
      <td>{{ key?.borrowedBy }}</td>
      <td>{{ key?.borrowedAt }}</td>
      <td>
        <button *ngIf="!key?.borrowed" class="on-button"(click)="onBorrow(key)">Borrow</button>
        <button *ngIf="key?.borrowed" class="oni-button"(click)="onReturn(key)">Return</button>
        <br><br>
      </td>
</tr>

  </tbody>
</table>

<!-- Borrowed Key details modal -->
<div class="modal" [class.active]="borrowedKey">
  <div class="modal-content">
    <h3>{{ borrowedKey?.name }} - Borrowed By {{ borrowedKey?.borrowedBy }}</h3>
    <p>Borrowed At: {{ borrowedKey?.borrowedAt }}</p>
    <button (click)="closeBorrowedDetails()">Close</button>
  </div>
</div>
</div>
</div>
