<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faculty Home Page</title>
</head>

<body>
  <style>
    body {
      background-image: url('assets/cmkis.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
  <div class="container">
    <h1>Welcome User</h1>

    <div class="schedule">
      <h2>Schedule View</h2>
      <p>View your class schedule here.</p>
      <a routerLink="/facultyschedule" class="btn">Go to Schedule View</a>
    </div>

    <div class="attendance">
      <h2>Record your Attendance</h2>
      <p>Record your attendance for your classes here.</p>
      <a routerLink="/attendanceche" class="btn">Go to Attendance Page</a>
    </div>

    <div class="borrowing">
      <h2>Key Borrowing</h2>
      <p>Borrow and return classroom keys here.</p>
      <a routerLink="/keyborrow" class="btn">Go to Key Borrowing</a>
    </div>

    <div class="logout">
      <a class="btn btn-small btn-red" (click)="logout()" >Logout</a>
    </div>


  </div>
</body>
</html>
