table {
    border-collapse: collapse;
    width: 100%;
  
  }
  th, td {
  text-align: center;
  padding: 8px;
  max-width: 0;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px; /* Change this to your desired max-width */
  box-shadow: 0px 2px 4px black;
  
  }
  
  th {
  background-color: orange;
  color: rgb(255, 255, 255);
  }
  
  .action-buttons {
  display: flex;
  justify-content: space-around;
  }
  .action-buttons .edit{
    background-color: rgb(0, 225, 255);
    }
    .action-buttons .delete{
      background-color: rgb(255, 0, 0);
      }
  .action-buttons button {
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  }
  
  .action-buttons button:hover {
  background-color: orange;
  }
  
  .CICT-Head2 h3{
    position: relative;
    top: 20px;
    left: 1px;
    transform: translateY(-50%);
    margin: 0;
    font-size: 30px;
    color: #333;
    font-family: monsterrat;
  }
  .nav{
    display: flex;
    width: 1100px;
  }
  
  .nav a {
  text-align: center;
  color: #000000;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
  margin: 10px;
  width: 100px;
  height: 40px;
  font-family: montserrat;
  
  }
  .nav a:hover{
    background-color: rgb(255, 223, 164);
    color: white;
  }
  
  .nav a.active {
  background-color: orange;
  color: white;
  }
  
  .form {
  top: 10%;
  height: 80px;
  display: flex;
  align-items: center;
  right: 20px;
  position: absolute;
  border: none;
  
  }

  
  
  .form button {
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  width: 220px;
  text-indent: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .form button:hover {
  background-color: rgb(255, 230, 0);
  }
  
  .add-schedule {
  display: flex;
  align-items: center;
  }
  
  .add-schedule button {
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  }
  
  .add-schedule button:hover {
  background-color: rgb(255, 230, 0);
  }
  
  
  
  h2 {
    margin: 0;
  }
  
  .addAttendance {
    padding: 5px 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
    }
  
    .addAttendance:hover {
    background-color: rgb(255, 230, 0);
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      width: 900px;
      max-width: 1000px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px black;
      height: 1000px;
      overflow: auto;
      max-height: 500px;
      margin: 0 auto;
      margin-bottom: 10px;
      
    }
  
  .box .Sect{
    width: 860px;
    max-width: 1500px;
    left: 420px;
    transform: translateX(-50%);
    position: relative;
    margin: 5px;
    box-sizing: border-box;
    border: none;
  }

  .Sect button{
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
  }
  
  .Section-Sort{
    left: 70px;
    transform: translateX(-50%);
    margin: 5px;
    height: 30px;
    width: 125px;
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .Sort-List{
    height: auto;
    width: 125px;
    background-color: white;
    position: absolute;
    left: 0;
    display: none;
  }
  .Sort-List a{
    color: black;
    display: block;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Sort-List a:hover{
    border-radius: 10px;
    background-color: orange;
    color: white;
  }
  .Section-Sort:hover .Sort-List{
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px black;
  }

  .box .Sect .Semester-Sort{
    left: 1px;
    position: relative;
    right: 355px;
    margin: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
  }

  .Semester-Sort{
    height: 30px;
    width: 200px;
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
  }
  .Semester-List{
    height: auto;
    width: 200px;
    background-color: white;
    position: absolute;
    left: 0;
    display: none;
  }
  .Semester-List a{
    color: black;
    display: block;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Semester-List a:hover{
    border-radius: 10px;
    background-color: orange;
    color: white;
  }
  .Semester-Sort:hover .Semester-List{
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px black;
  }
  .box input[type="text"] {
    padding: 5px;
    border-radius: 50px;
    border: none;
    margin-left: 273px;
    width: 240px;
    box-shadow: 0px 2px 4px black;
    text-indent: 10px;
    height: 30px;

    }