<!DOCTYPE html>
<html lang="en">

<head>
	<title>Faculty and Schedule Management</title>
	<link rel="stylesheet" href="attendance.component.css">
</head>

<body>
  <app-sidebar (onToggleSideBar)="onToggleSideBar()"></app-sidebar>
  <div class="CICT-Head2">
    <h3>User and Schedule Management</h3>
  </div>
	<div class="cont">
		<div class="nav">
			<a href="faculty" >User</a>
			<a href="schedule">Schedule</a>
            <a href="attendance" class="active">Attendance</a>

            <div class="attendance-box">
            <div class="attendance">
              <h2>Attendance Logs</h2>
              <div class="filter-sort">
                <input type="text" placeholder="Search by name" [(ngModel)]="filterName" (keyup)="filterAttendanceData()">
                <div class="sort-by">
                  <span>Sort by:</span>
                  <select [(ngModel)]="sortBy" (change)="sortAttendanceData()">
                    <option value="date">Date</option>
                    <option value="name">Name</option>
                  </select>
                </div>
                <div class="sort-order">
                  <span>Order:</span>
                  <select [(ngModel)]="sortOrder" (change)="sortAttendanceData()">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                  </select>
                </div>
              </div>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Room</th>
                  <th>Status</th>
                </tr>
                <tr *ngFor="let attendance of filteredAttendanceData">
                  <td style="text-transform: capitalize">{{ attendance.name }}</td>
                  <td>{{ attendance.date }}</td>
                  <td>{{ attendance.room }}</td>
                  <td style="text-transform: capitalize">{{ attendance.status }}</td>
                </tr>
                <tr *ngIf="filteredAttendanceData.length === 0">
                  <td colspan="4">No Data</td>
                </tr>
              </table>
            </div>
          </div>
