<!DOCTYPE html>
<html>
  <head>

    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="dashboard.component.css">
    <head>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
  </head>

  <body>
    <app-sidebar (onToggleSideBar)="onToggleSideBar()"></app-sidebar>
    <div class="CICT-Head2">
      <h3>Dashboard</h3>
    </div>

    <div class="dashboard">
      <div class="welcome-admin text-center">
        <h2>Welcome Admin,</h2>
        <p>Today is {{ currentDate | date:'mediumDate' }}</p>
        <div class="clock">
          <span class="time">{{ currentDate | date:'shortTime' }}</span>
        </div>
        <img src="assets/design.png" alt="calendar image" class="center-image">
      </div>



    <div class="attendance-status">
      <h2>Attendance Status</h2>
      <div class="attendance-chart-container">
        <app-attendance-chart></app-attendance-chart>
      </div>
    </div>



      <div class="attendance">
        <h2>Attendance Log</h2>
        <table>
          <tr>
            <th>Name</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>No Data</td>
            <td>No Data</td>
            <td>No Data</td>
            <td>No Data</td>
          </tr>
        </table>
      </div>

      <div class="today-schedule">
        <h2>Today's Schedule</h2>
        <table>
          <tr>
            <th>Faculty</th>
            <th>Time</th>
            <th>Duration</th>

          </tr>
          <tr>
            <td>No Data</td>
            <td>No Data</td>
            <td>No Data</td>

          </tr>
        </table>
      </div>

      <div class="key-log">
        <h2>Key Logs</h2>
        <table>
          <tr>
            <th>Key Name</th>
            <th>Room</th>
            <th>Borrowed By</th>
            <th>Borrowed At</th>
          </tr>
          <tbody>
            <tr *ngFor="let key of keys">
              <ng-container *ngIf="key.borrowed">
                <td>{{ key.name }}</td>
                <td>{{ key.room }}</td>
                <td>{{ key.borrowedBy }}</td>
                <td>{{ key.borrowedAt }}</td>
              </ng-container>
            </tr>
          </tbody>

        </table>
      </div>


    </div>
  </body>
</html>
